* {
  max-width: 400px;
}

body {
  background-image: url(https://cdn.discordapp.com/attachments/544505134063943701/810811382206431282/heide.jpg);
  background-repeat: no-repeat;
  background-position: 0px -50px;
  overflow-x: hidden;
}

h1 {
  font-family: "Nunito", sans-serif;
  font-size: 25px;
}

.name {
  margin-top: -5px;
  margin-left: 10px;
}

.xp {
  float: right;
  margin-top: -55px;
  font-size: 15px;
}

.xp::first-letter {
  color: purple;
  font-weight: bolder;
  font-size: 35px;
  font-family: "Open Sans", sans-serif;
}

.minutes {
  float: left;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  position: relative;
  z-index: 10;
  bottom: -190px;
}
.minutes::first-letter {
  color: #a8138d;
  font-weight: bolder;
  font-size: 35px;
  font-family: "Open Sans", sans-serif;
}

.border {
  position: relative;
  margin-top: 100px;
  z-index: -1;
  vertical-align: top;
}

.bottom {
  background-color: #f2f1ec;
  height: 1550px;
  width: 425px;
  position: relative;
  margin-left: -8px;
  margin-top: 0px;
  z-index: -1;
  vertical-align: top;
}

.start-btn {
  color: white;
  background-color: #a8138d;
  position: relative;
  border-radius: 20px;
  text-decoration: none;
  border: none;
  padding: 10px 75px;
  bottom: -275px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  box-shadow: 0 0 10px 5px #888888;
}

.xp-list {
  height: 340px;
  width: 300px;
  background-color: white;
  position: relative;
  bottom: -300px;
  text-align: center;
  left: 10px;
  border-radius: 20px;
  box-shadow: 0 0 10px 5px #888888;
}

.headimg {
  position: absolute;
  margin-left: 78px;
  margin-top: 13px;
  z-index: -1;
}

.medaille-list {
  height: 460px;
  width: 300px;
  background-color: white;
  position: absolute;
  bottom: -520px;
  text-align: center;
  left: 60px;
  border-radius: 20px;
  box-shadow: 0 0 10px 5px #888888;
}

.group-name {
  position: absolute;
  margin-left: 20px;
  margin-top: 10px;
  font-family: "Open Sans", sans-serif;
  color: #a8138d;
  font-weight: bold;
  font-size: 20px;
}

.explanation {
  position: absolute;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  text-decoration: underline;
  margin-left: 235px;
  margin-top: 14px;
}

.rank15 {
  position: absolute;
  margin-left: 80px;
  font-family: sans-serif;
  font-size: 14px;
  margin-top: 14px;
  font-weight: bold;
  color: #746c6c;
}

.user15 {
  position: absolute;
  z-index: 1;
  margin-left: 120px;
  font-family: sans-serif;
  font-size: 16px;
  margin-top: 5px;
  font-weight: bold;
  color: #746c6c;
}

.current {
  padding: 25px 140px;
  position: absolute;
  background-color: #a8138d;
  margin-top: 52px;
  margin-left: 63px;
}

.rank16 {
  position: absolute;
  margin-left: 80px;
  font-family: sans-serif;
  font-size: 14px;
  margin-top: 68px;
  font-weight: bold;
  color: white;
}

.user16 {
  position: absolute;
  z-index: 1;
  margin-left: 120px;
  font-family: sans-serif;
  font-size: 16px;
  margin-top: 60px;
  font-weight: bold;
  color: white;
}
.rank17 {
  position: absolute;
  margin-left: 80px;
  font-family: sans-serif;
  font-size: 14px;
  margin-top: 123px;
  font-weight: bold;
  color: #746c6c;
}

.user17 {
  position: absolute;
  z-index: 1;
  margin-left: 120px;
  font-family: sans-serif;
  font-size: 16px;
  margin-top: 115px;
  font-weight: bolder;
  color: #746c6c;
}

.ranglijst-btn {
  color: white;
  background-color: #a8138d;
  position: absolute;
  border-radius: 20px;
  text-decoration: none;
  border: none;
  padding: 10px 65px;
  bottom: 45px;
  left: 100px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  box-shadow: 0 0 10px 5px #888888;
}

.beheer-btn {
  color: white;
  background-color: #f3a93c;
  position: absolute;
  border-radius: 20px;
  text-decoration: none;
  border: none;
  padding: 10px 65px;
  bottom: -10px;
  left: 102px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  box-shadow: 0 0 10px 5px #888888;
}

.meda-title {
  position: absolute;
  margin-left: 20px;
  margin-top: 10px;
  font-family: "Open Sans", sans-serif;
  color: #a8138d;
  font-weight: bold;
  font-size: 20px;
}

.meda-img1 {
  border: 4px solid #d4d0d0;
  height: 67px;
  width: 67px;
  background-color: #e7dfdf;
  border-radius: 50%;
  display: inline-block;
  margin-top: 45px;
  margin-left: -110px;
  position: absolute;
}

.meda-img2 {
  border: 4px solid #d4d0d0;
  height: 67px;
  width: 67px;
  background-color: #e7dfdf;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  margin-top: 45px;
  margin-left: 35px;
}

.meda-img3 {
  border: 4px solid #d4d0d0;
  height: 67px;
  width: 67px;
  background-color: #e7dfdf;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  margin-top: 175px;
  margin-left: -110px;
}

.meda-img4 {
  border: 4px solid #d4d0d0;
  height: 67px;
  width: 67px;
  background-color: #e7dfdf;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  margin-top: 175px;
  margin-left: 35px;
}

.meda-img5 {
  border: 4px solid #d4d0d0;
  height: 67px;
  width: 67px;
  background-color: #e7dfdf;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  margin-top: 300px;
  margin-left: -110px;
}

.meda-img6 {
  border: 4px solid #d4d0d0;
  height: 67px;
  width: 67px;
  background-color: #e7dfdf;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  margin-top: 300px;
  margin-left: 35px;
}

.meda-text1 {
  position: absolute;
  z-index: 1;
  margin-left: 34px;
  font-family: sans-serif;
  font-size: 13px;
  margin-top: 125px;
  color: #746c6c;
}

.meda-title1 {
  position: absolute;
  z-index: 1;
  margin-left: 26px;
  font-family: sans-serif;
  font-size: 15px;
  margin-top: -3px;
  font-weight: bolder;
  color: #746c6c;
}

.meda-text2 {
  position: absolute;
  z-index: 1;
  margin-left: 178px;
  font-family: sans-serif;
  font-size: 13px;
  margin-top: 125px;
  color: #746c6c;
}

.meda-title2 {
  position: absolute;
  z-index: 1;
  margin-left: 24px;
  font-family: sans-serif;
  font-size: 15px;
  margin-top: -3px;
  font-weight: bolder;
  color: #746c6c;
}

.meda-text3 {
  position: absolute;
  z-index: 1;
  margin-left: 47px;
  font-family: sans-serif;
  font-size: 13px;
  margin-top: 250px;
  color: #746c6c;
}

.meda-title3 {
  position: absolute;
  z-index: 1;
  margin-left: 14px;
  font-family: sans-serif;
  font-size: 15px;
  margin-top: 0px;
  font-weight: bolder;
  color: #746c6c;
}

.meda-text4 {
  position: absolute;
  z-index: 1;
  margin-left: 179px;
  font-family: sans-serif;
  font-size: 13px;
  margin-top: 267px;
  color: #746c6c;
}

.meda-title4 {
  position: absolute;
  z-index: 1;
  margin-left: 175px;
  font-family: sans-serif;
  font-size: 15px;
  margin-top: 250px;
  font-weight: bolder;
  color: #746c6c;
}

.meda-text5 {
  position: absolute;
  z-index: 1;
  margin-left: 27px;
  font-family: sans-serif;
  font-size: 13px;
  margin-top: 395px;
  color: #746c6c;
}

.meda-title5 {
  position: absolute;
  z-index: 1;
  margin-left: 40px;
  font-family: sans-serif;
  font-size: 15px;
  margin-top: 375px;
  font-weight: bolder;
  color: #746c6c;
}

.meda-text6 {
  position: absolute;
  z-index: 1;
  margin-left: 180px;
  font-family: sans-serif;
  font-size: 13px;
  margin-top: 395px;
  color: #746c6c;
}

.meda-title6 {
  position: absolute;
  z-index: 1;
  margin-left: 195px;
  font-family: sans-serif;
  font-size: 15px;
  margin-top: 375px;
  font-weight: bolder;
  color: #746c6c;
}

.info-text {
  position: absolute;
  z-index: 1;
  margin-left: 47px;
  font-family: sans-serif;
  font-size: 13px;
  margin-top: 435px;
  color: #746c6c;
}

.doneren-list {
  height: 210px;
  width: 300px;
  background-color: white;
  position: absolute;
  bottom: -240px;
  text-align: center;
  left: 0px;
  border-radius: 20px;
  box-shadow: 0 0 10px 5px #888888;
}

.doneren-title {
  position: absolute;
  margin-left: 20px;
  margin-top: 500px;
  font-family: "Open Sans", sans-serif;
  color: #a8138d;
  font-weight: bold;
  font-size: 20px;
}

.doneren-text {
  position: absolute;
  width: 300px;
  text-align: left;
  z-index: 1;
  margin-left: 20px;
  font-family: sans-serif;
  font-size: 17px;
  margin-top: 540px;
  color: #746c6c;
}

.doneer-btn {
  color: white;
  background-color: #f3a93c;
  position: absolute;
  border-radius: 20px;
  text-decoration: none;
  border: none;
  padding: 10px 65px;
  bottom: -215px;
  left: 60px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  box-shadow: 0 0 10px 5px #888888;
}

.stats-list {
  height: 170px;
  width: 300px;
  background-color: white;
  position: absolute;
  bottom: -960px;
  text-align: center;
  left: 60px;
  border-radius: 20px;
  box-shadow: 0 0 10px 5px #888888;
}

.stats-title {
  position: absolute;
  margin-left: 72px;
  margin-top: 1070px;
  font-family: "Open Sans", sans-serif;
  color: #a8138d;
  font-weight: bold;
  font-size: 20px;
}

.ommetje-btn {
  color: white;
  background-color: #f3a93c;
  position: absolute;
  border-radius: 20px;
  text-decoration: none;
  border: none;
  padding: 10px 65px;
  margin-top: 1170px;
  left: 95px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  box-shadow: 0 0 10px 5px #888888;
}

.statistieken-btn {
  color: white;
  background-color: #a8138d;
  position: absolute;
  border-radius: 20px;
  text-decoration: none;
  border: none;
  padding: 10px 68px;
  margin-top: 1115px;
  left: 95px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  box-shadow: 0 0 10px 5px #888888;
}

.footer-img {
  position: absolute;
  width: 130%;
  margin-top: 1260px;
  margin-left: -8px;
}

.footer-text1 {
  position: absolute;
  z-index: 1;
  margin-left: 10px;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  margin-top: 1345px;
  color: white;
}

.footer-text2 {
  position: absolute;
  z-index: 1;
  margin-left: 10px;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  margin-top: 1455px;
  color: white;
}

.questionmark {
  width: 6%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 100;
}

.questionmarkdiv {
  position: fixed !important;
  bottom: 10px;
  right: 8px;
  z-index: 100;
  width: 100%;
}

.medal_popup {
  display: none;
  position: absolute;
  z-index: 100;
  background-color: white;
  box-shadow: 0 0 3px 10000px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  margin-left: -20px;
  width: 340px;
  height: 540px;
  opacity: 0.97;
}

.popup_header {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  position: absolute;
  left: 100px;
  top: 25px;
  text-align: left;
}

.popup_des {
  font-size: 12px;
  color: gray;
  font-family: "Open Sans", sans-serif;
  position: absolute;
  left: 10px;
  top: 60px;
  text-align: start;
}

.icons_popup {
  width: 100%;
  position: absolute;
  top: 130px;
  left: 10px;
}

.popup_icon {
  border: 4px solid #d4d0d0;
  display: inline-block;
  width: 45px;
  height: 45px;
  background-color: #e7dfdf;
  border-radius: 50%;
  position: relative;
  margin-right: 40px;
  left: 10px;
  top: -30px;
  margin-top: 40px;
}

.popup_icon_header {
  position: absolute;
  top: -22px;
  left: 13px;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
}

.popup_icon_footer {
  position: absolute;
  font-family: "Open Sans", sans-serif;
  top: 48px;
  font-size: 15px;
  left: 5px;
}

.close-btn {
  background-color: white;
  position: absolute;
  outline: none;
  border: none;
  opacity: 0.97;
  margin-top: 480px;
  margin-left: -30px;
  color: #a8138d;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

.hr {
  border-top: 1px solid #d4d3d3;
  width: 90%;
  margin-top: 470px;
  position: absolute;
  margin-left: 18px;
}

.fadein {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.weetjes-btn {
  color: white;
  background-color: #a8138d;
  position: relative;
  border-radius: 20px;
  text-decoration: none;
  border: none;
  padding: 10px 75px;
  bottom: -155px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  box-shadow: 0 0 10px 5px #888888;
}
